<%- include('../partials/header') %>
<div class="ctm-container">
    <!-- add logo--> 
    <div class="form">
        <div class="form-input">
            <form action="/auth/login" method="POST">
                <header class="form-header">
                    <h1>Login to your Account</h1>
                    <p>Track your expenses</p>
                </header>
                <div class="input">
                    <label>Email</label>
                    <input name="username" type="email" />
                </div>
                <div class="input">
                    <label>Password</label>
                    <input name="password"  type="password"/>
                </div>
                <button id="form-btn" type="submit">LOG IN</button>
            </form>
        </div>

        <p>Don't have an account? <a href="/register">Register</a></p>
        <p>Forgot Password?</p>
    </div>
  </div>

<%- include('../partials/footer') %>