<%- include('../partials/header') %>
<div class="ctm-container">
  <!-- add logo--> 
  <div class="form">
      <div class="form-input">
          <form action="/auth/register" method="POST">
              <header class="form-header">
                  <h1>Create a new Account</h1>
                  <p>The future of Expense Tracking</p>
              </header>
              <div class="input">
                  <label>Email</label>
                  <input name="username" type="email" />
              </div>
              <div class="input">
                  <label>Password</label>
                  <input name="password"  type="password"/>
              </div>
              <button id="form-btn" type="submit">CREATE ACCOUNT</button>
          </form>
      </div>
      
      <p>Don't have an account? Register</p>
      <p>Forgot Password?</p>
  </div>
</div>

<%- include('../partials/footer') %>